.App {
  font-family: sans-serif;
  text-align: center;
}

.Stepper {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* Space between items */
}
